@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 *{ font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    margin: 0 auto
    ;
}

/* ............shared styles.......... */
.display-flex{
    display: flex;
}
.dark1{
    color:#131313  ;
    font-size: 4rem;
    font-weight: 700;
}
.dark2{
    color: #424242;
    font-size: 3rem;
    font-weight:600;
}

.dark3{
    color: #727272;
    font-size: 1.2rem;
}
.primary-text1{
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
}
.primary-text2{
    color: #ff900e;
    font-size: 2.8rem;
    font-weight: 600;
}

.bg-color{
    background-color: #FFF4E7;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 15px;

}




/*  . header....... */


/* ......nav......... */
nav{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 
    
}


   

nav ul li{
    list-style: none;
  
}
nav a{
    text-decoration: none;
    margin-right: 30px;
}
nav , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* ........banner.......... */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.banner-description{
    margin:20px 0 ;
}
.banner-img{
    width: 100%;
}
/* ............feature section-1............. */
.features-1-container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
}
.feature1-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 24px;
    margin-right: 70px;
}
.feature1-details {
    display: flex;
    align-items: center;
    
}
/* ..............feature section-2 */
.feature-2{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
}
.feature-2-content{
    margin-right:140px;

}
.feature-2-title{
    border-left: 3px solid #ff900e;
    padding-left: 10px;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 20px 0;
}
.feature-2-card{
    margin-top: 25px;
    box-shadow: 0px 4px 30px 0 rgba(0,0,0,.06) ;
    padding: 30px;
    border-radius: 8px;
}
.card-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
   
}
.badge{
    padding: 30px;
    margin-left: -90px;
    margin-top: -105px;
}
.experience-btn{
    font-size: 3rem;

}
/* ....................some facts................ */
    .facts-title{
        margin: 100px,0px, 10px, 0px;
    }
    .facts{
        justify-content: space-between;
        margin: 50px 0px;
        
    }
    .facts-card .number{
        font-size:2.8rem;
    
    }




.facts-card{ display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid #ff900e;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    box-shadow: 0px 4px 30px 0 rgba(0,0,0,.06) ;

}
/* ....sponsors section...... */
.sponsors-logo{
    justify-content: space-between;
   
    
    margin: 20px 0 100px 0;
}
.sponsors-heading{
    text-align: center;
    margin-bottom: 50px;
}

/* ........  footer section........ */
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* .............. responsive desinh for small device............. */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .nav-list {margin-top: 20px;

    }
    .banner{
    
    }
    .features-1-container{
        flex-direction:  column-reverse;
        text-align: center;
    }
    .feature1-img-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 100px;
        margin-top: 20px;
    }
        /* .....feature-2 section.......... */
.feature-2{
    flex-direction: column;
    align-items: center;
    
    
}
.feature-2-title{
    
    font-size: 2rem;
    
}
.feature-2-img img{
    width:100%;
}
.badge{
   
    margin-left: 90px;
    margin-top: -115px;
}
.feature-2-content{
    margin-left:20px;

}






    /* .......fact section..... */

    .facts-description{
        margin-left: 20px;
    }

        .facts{
            flex-direction: column;
            align-items: center;
            gap: 24px;

        }
        /* ......sponsors section......... */
  .sponsors-logo{
   
    flex-direction: column;
    gap: 30px;
    align-items: center;
   
  
    
} 
.sponsors-logo img{
    width: 20%;
}




}
    
